# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [17]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [18]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicants_data_df = pd.read_csv("Resources/applicants_data.csv")

# Review the DataFrame
applicants_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Review the data types associated with the columns
applicants_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [20]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicants_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [21]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [22]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [23]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [25]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [26]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.drop(columns=categorical_variables)], axis=1)

# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [27]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [28]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [29]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [30]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [66]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [34]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [35]:
# Create the Sequential model instance
nn = Sequential()

In [36]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

WARNING:tensorflow:From c:\Users\Alex\anaconda3\envs\KerasTS\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [37]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [38]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [39]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 58)                6786
_________________________________________________________________
dense_1 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [40]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From c:\Users\Alex\anaconda3\envs\KerasTS\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [41]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 0s 15us/sample - loss: 0.5779 - acc: 0.7210
Epoch 2/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5540 - acc: 0.7304
Epoch 3/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5500 - acc: 0.7299
Epoch 4/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5477 - acc: 0.7311
Epoch 5/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5470 - acc: 0.7321
Epoch 6/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5461 - acc: 0.7334
Epoch 7/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5442 - acc: 0.7334
Epoch 8/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5441 - acc: 0.7343
Epoch 9/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5427 - acc: 0.7357
Epoch 10/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5427 - acc: 0.7351
Epoch 11/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5416 - acc: 0.7347
Epoch 12/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5411 - acc: 0.7354
Epoch 13/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5409 - acc: 0.7368
Epoch 14/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5398 - acc: 0.7369
Epoch 15/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5395 - acc: 0.7365
Epoch 16/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5392 - acc: 0.7375
Epoch 17/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5390 - acc: 0.7369
Epoch 18/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5389 - acc: 0.7362
Epoch 19/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5383 - acc: 0.7378
Epoch 20/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5376 - acc: 0.7375
Epoch 21/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5381 - acc: 0.7371
Epoch 22/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5369 - acc: 0.7394
Epoch 23/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5368 - acc: 0.7384
Epoch 24/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5368 - acc: 0.7390
Epoch 25/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5365 - acc: 0.7388
Epoch 26/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5364 - acc: 0.7380
Epoch 27/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5355 - acc: 0.7385
Epoch 28/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5360 - acc: 0.7396
Epoch 29/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5357 - acc: 0.7386
Epoch 30/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5351 - acc: 0.7395
Epoch 31/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5355 - acc: 0.7388
Epoch 32/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5349 - acc: 0.7395
Epoch 33/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5345 - acc: 0.7395
Epoch 34/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5337 - acc: 0.7399
Epoch 35/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5344 - acc: 0.7406
Epoch 36/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5340 - acc: 0.7406
Epoch 37/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5339 - acc: 0.7408
Epoch 38/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5335 - acc: 0.7398
Epoch 39/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5337 - acc: 0.7398
Epoch 40/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5327 - acc: 0.7410
Epoch 41/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5337 - acc: 0.7402
Epoch 42/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5326 - acc: 0.7403
Epoch 43/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5331 - acc: 0.7409
Epoch 44/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5328 - acc: 0.7403
Epoch 45/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5325 - acc: 0.7411
Epoch 46/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.5321 - acc: 0.7409
Epoch 47/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5326 - acc: 0.7401
Epoch 48/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5318 - acc: 0.7411
Epoch 49/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5320 - acc: 0.7411
Epoch 50/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.5315 - acc: 0.7408

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [43]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5574 - acc: 0.7293
Loss: 0.5573639153530577, Accuracy: 0.7293294668197632

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [44]:
# Set the model's file path
file_path = "Resources/AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [45]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [46]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [47]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 7

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

7

In [48]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [49]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
Sequential()

In [50]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [51]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 0s 14us/sample - loss: 0.4489 - mean_squared_error: 0.4489
Epoch 2/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2773 - mean_squared_error: 0.2773
Epoch 3/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2365 - mean_squared_error: 0.2365
Epoch 4/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2263 - mean_squared_error: 0.2263
Epoch 5/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2366 - mean_squared_error: 0.2366
Epoch 6/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2308 - mean_squared_error: 0.2308
Epoch 7/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2194 - mean_squared_error: 0.2194
Epoch 8/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2098 - mean_squared_error: 0.2098
Epoch 9/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2085 - mean_squared_error: 0.2085
Epoch 10/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2031 - mean_squared_error: 0.2031
Epoch 11/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2027 - mean_squared_error: 0.2027
Epoch 12/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1980 - mean_squared_error: 0.1980
Epoch 13/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1946 - mean_squared_error: 0.1946
Epoch 14/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1959 - mean_squared_error: 0.1959
Epoch 15/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1950 - mean_squared_error: 0.1950
Epoch 16/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1894 - mean_squared_error: 0.1894
Epoch 17/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1895 - mean_squared_error: 0.1895
Epoch 18/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1887 - mean_squared_error: 0.1887
Epoch 19/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1885 - mean_squared_error: 0.1885
Epoch 20/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1903 - mean_squared_error: 0.1903
Epoch 21/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1894 - mean_squared_error: 0.1894
Epoch 22/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1872 - mean_squared_error: 0.1872
Epoch 23/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1867 - mean_squared_error: 0.1867
Epoch 24/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1867 - mean_squared_error: 0.1867
Epoch 25/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1882 - mean_squared_error: 0.1882
Epoch 26/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1874 - mean_squared_error: 0.1874
Epoch 27/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1877 - mean_squared_error: 0.1877
Epoch 28/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1855 - mean_squared_error: 0.1855
Epoch 29/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1856 - mean_squared_error: 0.1856
Epoch 30/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1874 - mean_squared_error: 0.1874
Epoch 31/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1846 - mean_squared_error: 0.1846
Epoch 32/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1851 - mean_squared_error: 0.1851
Epoch 33/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1861 - mean_squared_error: 0.1861
Epoch 34/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1859 - mean_squared_error: 0.1859
Epoch 35/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1861 - mean_squared_error: 0.1861
Epoch 36/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1845 - mean_squared_error: 0.1845
Epoch 37/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1848 - mean_squared_error: 0.1848
Epoch 38/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1846 - mean_squared_error: 0.1846
Epoch 39/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1855 - mean_squared_error: 0.1855
Epoch 40/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1845 - mean_squared_error: 0.1845
Epoch 41/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1842 - mean_squared_error: 0.1842
Epoch 42/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1857 - mean_squared_error: 0.1857
Epoch 43/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1839 - mean_squared_error: 0.1839
Epoch 44/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1837 - mean_squared_error: 0.1837
Epoch 45/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1838 - mean_squared_error: 0.1838
Epoch 46/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1843 - mean_squared_error: 0.1843
Epoch 47/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1839 - mean_squared_error: 0.1839
Epoch 48/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1834 - mean_squared_error: 0.1834
Epoch 49/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1835 - mean_squared_error: 0.1835
Epoch 50/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1847 - mean_squared_error: 0.1847

#### Alternative Model 2

In [52]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [53]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [54]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 9

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

9

In [55]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [56]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="linear"))

# Check the structure of the model
Sequential()

In [57]:
# Compile the model
nn_A2.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [58]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
25724/25724 [==============================] - 0s 13us/sample - loss: 0.7403 - mean_squared_error: 0.7403
Epoch 2/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.3004 - mean_squared_error: 0.3004
Epoch 3/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2546 - mean_squared_error: 0.2546
Epoch 4/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2470 - mean_squared_error: 0.2470
Epoch 5/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2573 - mean_squared_error: 0.2573
Epoch 6/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2457 - mean_squared_error: 0.2457
Epoch 7/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2387 - mean_squared_error: 0.2387
Epoch 8/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2240 - mean_squared_error: 0.2240
Epoch 9/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2155 - mean_squared_error: 0.2155
Epoch 10/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2093 - mean_squared_error: 0.2093
Epoch 11/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2127 - mean_squared_error: 0.2127
Epoch 12/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.2055 - mean_squared_error: 0.2055
Epoch 13/50
25724/25724 [==============================] - 0s 11us/sample - loss: 0.2064 - mean_squared_error: 0.2064
Epoch 14/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1989 - mean_squared_error: 0.1989
Epoch 15/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1933 - mean_squared_error: 0.1933
Epoch 16/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1926 - mean_squared_error: 0.1926
Epoch 17/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1951 - mean_squared_error: 0.1951
Epoch 18/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1965 - mean_squared_error: 0.1965
Epoch 19/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1908 - mean_squared_error: 0.1908
Epoch 20/50
25724/25724 [==============================] - 0s 11us/sample - loss: 0.1890 - mean_squared_error: 0.1890
Epoch 21/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1891 - mean_squared_error: 0.1891
Epoch 22/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1888 - mean_squared_error: 0.1888
Epoch 23/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1882 - mean_squared_error: 0.1882
Epoch 24/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1889 - mean_squared_error: 0.1889
Epoch 25/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1860 - mean_squared_error: 0.1860
Epoch 26/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1868 - mean_squared_error: 0.1868
Epoch 27/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1874 - mean_squared_error: 0.1874
Epoch 28/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1880 - mean_squared_error: 0.1880
Epoch 29/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1876 - mean_squared_error: 0.1876
Epoch 30/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1858 - mean_squared_error: 0.1858
Epoch 31/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1882 - mean_squared_error: 0.1882
Epoch 32/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1861 - mean_squared_error: 0.1861
Epoch 33/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1863 - mean_squared_error: 0.1863
Epoch 34/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1865 - mean_squared_error: 0.1865
Epoch 35/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1870 - mean_squared_error: 0.1870
Epoch 36/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1864 - mean_squared_error: 0.1864
Epoch 37/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1851 - mean_squared_error: 0.1851
Epoch 38/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1851 - mean_squared_error: 0.1851
Epoch 39/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1845 - mean_squared_error: 0.1845
Epoch 40/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1845 - mean_squared_error: 0.1845
Epoch 41/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1851 - mean_squared_error: 0.1851
Epoch 42/50
25724/25724 [==============================] - 0s 11us/sample - loss: 0.1853 - mean_squared_error: 0.1853
Epoch 43/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1859 - mean_squared_error: 0.1859
Epoch 44/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1852 - mean_squared_error: 0.1852
Epoch 45/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1841 - mean_squared_error: 0.1841
Epoch 46/50
25724/25724 [==============================] - 0s 11us/sample - loss: 0.1846 - mean_squared_error: 0.1846
Epoch 47/50
25724/25724 [==============================] - 0s 11us/sample - loss: 0.1843 - mean_squared_error: 0.1843
Epoch 48/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1848 - mean_squared_error: 0.1848
Epoch 49/50
25724/25724 [==============================] - 0s 12us/sample - loss: 0.1851 - mean_squared_error: 0.1851
Epoch 50/50
25724/25724 [==============================] - 0s 11us/sample - loss: 0.1841 - mean_squared_error: 0.1841

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [60]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
8575/8575 - 0s - loss: 0.5574 - acc: 0.7293
Loss: 0.5573639153530577, Accuracy: 0.7293294668197632

In [62]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
8575/8575 - 0s - loss: 0.1864 - mean_squared_error: 0.1864
Loss: 0.18639819930663262, Accuracy: 0.18639826774597168

In [63]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
8575/8575 - 0s - loss: 0.1926 - mean_squared_error: 0.1926
Loss: 0.19259560031028947, Accuracy: 0.19259555637836456

### Step 3: Save each of your alternative models as an HDF5 file.

In [64]:
# Set the file path for the first alternative model
file_path = "Resources/AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [65]:
# Set the file path for the second alternative model
file_path = "Resources/AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)